.table-container {
    overflow-x: auto;
  }
  
  .custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .custom-table th,
  .custom-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  @media (max-width: 768px) {
    .custom-table th,
    .custom-table td {
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .custom-table th,
    .custom-table td {
      font-size: 12px;
    }
  }